body{
	background-color: #444;
	text-align: center;
}

.codeCanvas{
	margin: auto;
}

.CodeMirror{
	text-align: left;
}


#run{
	width: 100%;
	background-color: #ccc;
	height: 30px;
	border: solid 0px;
}